<html>
    <head>
        <meta charset="utf-8">
        <title>GO game</title>
        <link rel="stylesheet" type="text/css" href="stylesheet.css">
    </head>

    <body>
        <div id="loginForm">
            <div class="form-element">
                <label class="form-element-label">Account: </label>
                <input type="text" id="account">
            </div>
            <div class="form-element">
                <label class="form-element-label">Password: </label>
                <input type="password" id="password">
            </div>
            <div class="form-element">
                <input type="button" value="Login" id="loginButton">
            </div>
        </div>

        <div id="roomList">
            <input type="button" id="logoutButton" value="Log out">
            <h3>Rooms list: </h3>
            <div id="showRoomList">
                <div id="room0" class="room" data-room=0 data-number-player=0>Room 0: <span id="roomSpan0">0</span></div>
                <div id="room1" class="room" data-room=1 data-number-player=0>Room 1: <span id="roomSpan1">0</span></div>
                <div id="room2" class="room" data-room=2 data-number-player=0>Room 2: <span id="roomSpan2">0</span></div>
                <div id="room3" class="room" data-room=3 data-number-player=0>Room 3: <span id="roomSpan3">0</span></div>
                <div id="room4" class="room" data-room=4 data-number-player=0>Room 4: <span id="roomSpan4">0</span></div>
            </div>
        </div>
        <div id="inRoom">
            <input type="button" id="leaveRoomButton" value="Leave Room">
            <div id="playerList">
                <div id="player1">
                    <b>Player1: <span id="player1Name"></span></b>
                    <p id="1Ready" hidden><i>Ready</i></p>
                    <p id="time1" hidden></p>
                </div>
                <div id="player2">
                    <b>Player2: <span id="player2Name"></span></b>
                    <p id="2Ready" hidden><i>Ready</i></p>
                    <p id="time2" hidden></p>
                </div>    
            </div>
            <div>
                <input type="button" id="readyButton" value="Ready">
            </div>

            <!-- Chessboard -->
            <div id="chessboard" hidden>
                <div id="app" v-cloak>
                    <div class="container">
                        <div class="row top-buffer">
                            <div class="col">
                                <div v-if="num_consecutive_passes == num_colors" class="alert alert-dismissible alert-danger">
                                    {{ num_players }} consecutive passes: game has ended.
                                </div>
                                <div id="timeUpMessage" hidden>Time up: Game has ended</div>
                            </div>
                        </div>
              
                        <div class="row top-buffer">
                            <div id="chessboard2">
                                <div class="col" id="chessboardLeft">
                                    <table style="border: 10px solid #533939; background: #e8b060">
                                        <tbody>
                                            <tr v-for="row in (0, num_rows)">
                                                <td v-for="col in (0, num_cols)">
                                                    <div @mouseover="mouse_over(col, row)"
                                                        @mouseout="mouse_out(col, row)"
                                                        @click="click(col, row)">
                                                        <svg width="30" height="30">
                                                            <g>
                                                                <rect x="0" y="0" width="30" height="30" fill="#e8b060" />
                                                            </g>
                                                            <board-grid :col="col" :row="row" :num_cols="num_cols" :num_rows="num_rows"></board-grid>
                                                            <stone v-if="board[[col, row]] == 0"
                                                                    :cx="15.0"
                                                                    :cy="15.0"
                                                                    :opacity="shadow_opacity[[col, row]]"
                                                                    :fill="color(color_current_move)"></stone>
                                                            <stone-shadow v-if="board[[col, row]] > 0"
                                                                            :cx="18.0" :cy="18.0"></stone-shadow>
                                                            <stone v-if="board[[col, row]] > 0"
                                                                    :cx="15.0"
                                                                    :cy="15.0"
                                                                    :opacity="1.0"
                                                                    :fill="color(board[[col, row]])"></stone>
                                                        </svg>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- board -->
                    
                                <div class="col"  id="chessboardRight">
                                    <div class="form-group" hidden>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radio_9" value="9" v-model="board_size" checked="">
                                            <label class="form-check-label" for="radio_9">9x9</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radio_13" value="13" v-model="board_size">
                                            <label class="form-check-label" for="radio_13">13x13</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="radio_19" value="19" v-model="board_size">
                                            <label class="form-check-label" for="radio_19">19x19</label>
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <select v-model="num_players" id="num_players">
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                        <label for="num_players">players</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="score_checkbox" checked="checked" v-model="show_score" hidden>
                                            <label class="custom-control-label" for="score_checkbox" hidden>
                                                show live score
                                                (<a href="https://en.wikipedia.org/wiki/Rules_of_Go#Area_scoring" target="_blank">area scoring</a>)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button v-on:click="pass" type="button" id="passButton" class="btn btn-xs btn-primary btn-file">pass</button>
                                        <button v-on:click="reset" type="button" class="btn btn-xs btn-success btn-file" hidden>start a new game</button>
                                    </div>
                        
                                    <table>
                                        <tbody>
                                            <tr v-for="i in num_colors">
                                                <td>
                                                    <div v-if="i == color_current_move">
                                                        <i class="fa fa-arrow-right fa-fw"></i>
                                                    </div>
                                                </td>
                                                <td style="background: #e8b060">
                                                    <svg width="30" height="30">
                                                        <stone :cx="15.0"
                                                            :cy="15.0"
                                                            :opacity="1.0"
                                                            :fill="color(i)"></stone>
                                                    </svg>
                                                </td>
                                                <td v-if="show_score">
                                                    &nbsp; {{ score[i] }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                        
                                </div> <!-- right panel -->                
                            </div>
                        </div>
                    </div>
                  </div>
                <script src="js/jquery-3.3.1.js"></script>
                <script src="/socket.io/socket.io.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                        crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                        crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>

                <script type="text/javascript" src="client.js"></script>
                <!-- <script src="js/app.js"></script>               -->
            </div>
            <!-- End chessboard -->

        </div>
    </body>
</html>