body {
    background-color: pink;
}

#loginForm {
    margin: auto;
    margin-top: 50px;
    padding: 50px 0 70px 0;
    height: 100px;
    width: 35%;
    text-align: center;
    border: 3px outset gray;
}
.form-element {
    margin: 20px 0 10px 0;
}
.form-element-label {
    font-weight: bold;
    min-width: 70px;
}

.room {
    color: #ffffff;
    width: 200px;
    margin: 20px 0px 20px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.room:hover {
    background-color: #ff0066;
}
#playerList {
    width: 100%;
    min-height: 100px;
}
#player1 {
    display: inline-block;
    float: left;
}
#player2 {
    display: inline-block;
    float: right;
}

#leaveRoomButton {
    margin: auto;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
}
#leaveRoomButton:hover {
    background-color: #ff0066;
}

#logoutButton {
    float: right;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
}
#logoutButton:hover {
    background-color: #ff0066;
}
#readyButton {
    width: 100px;
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 10px;
}
#readyButton:hover {
    background-color: #ff0066;
}

.top-buffer {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

#chessboard2 {
    width: 446px;
    margin: auto;
}
#chessboardLeft {
    display: inline-block;
    min-width: 310px;
    max-width: 60%;
    margin: auto;
}
#chessboardRight{
    display: inline-block;
    position: absolute;
}
#passButton {
    margin: 0 0 20px 20px;
    width: 80px;
    height: 40px;
    font-size: 24px;
    border-radius: 10px;
}
#passButton:hover:enabled {
    background-color: #ff0066;
}

body {
    font-family: 'Open Sans';
    font-size: 16px;
    margin-bottom: 100px;
  }
  
  svg {
    display: block;
    max-height: 100%;
  }
  
  td {
    height: 30px;
    width: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  
  /* https://vuejs.org/v2/api/#v-cloak */
  [v-cloak] {
    display: none;
  }
  
  .top-buffer {
    margin-top: 15px;
  }
  